{% extends 'blog/base.html' %}

{% block extra_head %}

 <link rel="stylesheet" href="static/css/acads.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
{% endblock %}



{% block content %}

<div class="jumbotron">

  <h2> Programming and Design Technologies Known :</h2>
  <hr class="my-4">
  <p>  Python, C++, C </p>
  <p> HTML, CSS, Bootstrap, AutoCAD</p>
  <p>Javascript, JQuery, DOM</p>
  <p>Django Web Devlopment Framework</p>
</div>


{% endblock %}
