{% extends 'blog/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="static/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<!-- loading gif -->
<div id="loading"></div>
<script >
function hideLoader() {
        $('#loading').hide();
        }
        setTimeout(hideLoader, 3 * 1000);
</script>

<div >
    <img src="https://scontent.fdel29-1.fna.fbcdn.net/v/t1.0-9/p960x960/44300773_1899564936787773_4768931634491686912_o.jpg?_nc_cat=100&_nc_ohc=HWlkPV-WlP4AQmF2zJUnHPCjUzpOx1YDoc19Z6XhZ6PyS88C7DcaKP-xg&_nc_ht=scontent.fdel29-1.fna&oh=96b1719298e2acef2f22fe2f7e7e427f&oe=5E797373" alt="not here" width="200" height="200">
    <h1 id="a">
    <span>Karan Takalkar</span></h1>
</div>
<div class="alpha">
  <h3 id="b">Sophomore</h3>
  <h3 id="c">Department of Material Science Engineering</h3>
  <h3 id="d">IIT Kanpur</h3>

</div>

{% endblock %}
