#loading {
  background: url('https://media.giphy.com/media/WijZyAuUL3nOM/giphy.gif') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  background-color: black;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 320px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
}
#name{
  color: white;
  padding-left: 36px;
  padding-top: 150px;
  font-size: 40px;

}
h6{
  color: white;
  padding-left: 213px;
  padding-bottom: 75px;

}
/* The navigation menu links */
.sidenav a {
  padding: 16px 18px 16px 36px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  color : white;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #696969;
}
/* Style page content */
.container {
  margin-left: 320px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
body{
    background-color: #FCF9EA;
}
